{% extends 'gym/base.html' %}
{% load static %}
{% block content %}
 <div class="ui main container">
 <head>
     <style>
        body {
            background-color: white;
            height: auto;
        }
        h2 {
            color:#d5242f ;
        }
     </style>
 </head>
<h2 >What We Do</h2>

     <p>Mav Gym Services provides gym facilities. It provides gym equipments and also other activities such as zumba class, Yoga class, swimming class etc.</p>
<h2>VNA service areas include:</h2>

<ul><li>Swimming Classes</li>
    <li>Zumba Classes</li>
    <li>Yoga Class</li>
    <li>Basketball Classes</li>
    <li>Dancing Classes</li>

</ul>
 </div>
{% endblock %}
