{% extends "gym/base.html" %}
{% load static %}



{% block content %}
{% if user.is_authenticated and user.is_superuser %}
    <div class="ui main container">
        {% if user.is_authenticated %}
            <div class="page-container">
                <h2 class="top-menu">Welcome {{ user.username }},</h2>
                <p>Please choose from below options.</p>
            </div>
        {% endif %}

         <div class="content white-square">
            <div class="row">

                <div class="col-md-3">
                    <div class="thumbnail">
                        <h2>Users Report</h2>
                        <p><a class="btn btn-primary" href="{% url 'gym:user_summary_pdf' %}" role="button">Click here </a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <h2>Activities Report</h2>
                        <p><a class="btn btn-primary" href="{% url 'gym:activities_summary_pdf' %}" role="button">Click here </a></p>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="thumbnail">
                        <h2>Equipments Report</h2>
                        <p><a class="btn btn-primary" href="{% url 'gym:equipment_summary_pdf' %}" role="button">Click here </a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


 {% endif %}



{% endblock %}
