{% extends 'gym/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Contact Us{{ block.super }}{% endblock %}
{% block content %}

<div class="container">
 <div class="col-md-8">
       <!-- Contact us page -->
    <h2>Contact Mav Gym Service</h2> <br/>
    <form role="form" action="{% url 'gym:contact' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Send</button>

    </form>
 </div>
</div>
{% endblock %}
