{% extends "gym/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="ui main container" xmlns="http://www.w3.org/1999/html">
	<h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
        <br/>
        <p><button type="submit" class="btn btn-success">Sign In</button></p>
    </form>
	<div class="border-top pt-3">
        <p>Already an Account?<a class="ml-2"  href="{% url 'login' %}"> Log In </a></p>
	</div>
</div>
{% endblock %}
